*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.main-header{
    height: 10vh;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    background-color: orange;
}

header img{
    height: 3vh;
}

.subtitle{
    position: fixed;
    top: 0;
    right: 0;
}

.memes-layout {
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

.memes-layout img{
    height: 32.5vh;
    width: 32.5vw;
    object-fit: cover;
}

.tags-menu{
    height: 3vh;
}

.about-modal {
    background-color:rgba(0, 0, 0, 0.9);
    color: whitesmoke;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    height: 100%; 
    z-index: 2;
}

canvas{
    display: block;
    margin: 0 auto;
    background-color: white;
    height: 65vh;
    width: 85vw;
}

.canvas-container{
    /* width: 90vw; */
    height: 90vh;
    background-color: rgb(199, 199, 199);
}


.img-editor {
    background-color:rgb(255, 255, 255);
    color: whitesmoke;
    position: fixed;
    right: 0;
    left: 0;
    text-align: center;
    height: 100%; 
    z-index: 1; 
}






/* HELPERS */

.margin-center{
margin-block-start: 40vh;
}

.display-none {
    display: none;
}

/* flex helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.flex-direction-column{
    flex-direction: column;
}

.flex.flex-direction-row{
    flex-direction: row;
}

/* list-helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}